<section class="container">

  <input type="text" name="input" class="input">
  <input type="submit" value="search" name="submit" class="btn">

</section>

{{#if result}}
<ul>

  <li> {{result}} </li>

</ul>
{{/if}}