<section class="container">
<form action="/search" method="POST" >
  <input type="text" name="input" class="input">
  <input type="submit" value="search" name="submit" class="btn">
</form>
</section>

{{#if result}}
<ul>

  <li> {{result}} </li>

</ul>
{{/if}}