<main class="main">

  <section class="container">
    <form action="/search" method="POST">
      <input type="text" name="input" class="input" required>
      <input type="submit" value="search" name="submit" class="btn">
    </form>
  </section>

 

  